<div>
  <div class="columns">
    <div class="form-group column is-2">
      <label>From: </label>
      <input
        [(ngModel)]="fromDate"
        ngui-datetime-picker
        date-only="true"
        (valueChanged)="onChange()"/>
    </div>

    <div class="form-group column is-2">
      <label>To: </label>
      <input
        [(ngModel)]="toDate"
        ngui-datetime-picker
        date-only="true"
        (valueChanged)="onChange()"/>
    </div>
  </div>
  <chart [options]="options" (load)="loadChart($event.context)"></chart>
</div>
